ion-item{
    --background: #fff;
    --color: #8C243C;
    border-radius: 10px;
    margin-left: 10px;
    
}
.username{
    margin-top: 40%;
    margin-left: 20%;
    margin-right: -20%;
}
.pass{
    margin-top: 5%;
}
.boton{
    margin-top: 40%;
    margin-left: 20%;
    margin-right: -20%;
}
ion-button{
    --background: #8C243C;
}
.logo{
    width: 70px;
    height: 70px ;
    margin-left: 35%;
}

ion-header{
    background-color: #8C243C;
}
ion-content{
    margin-top: 40%;
}
