.btnPrev
{
    
    background: transparent;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    margin-left: -200px;
    width: 100px;
   
}
.btnNext{

    background: transparent;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    margin-left: 50px;
    width: 100px;
    
}
.left
{
    float: left;
}
.right{
    float: right
}