<ion-content>
  <ion-app>
    <ion-content >
      <ion-slides #slides >

        <ion-slide style="background-color: #4DCA77;" >
          <div class="slide">
            <app-pdm style="position: absolute; z-index: 1;"></app-pdm>
            <app-buttons class="botones"title="pdm" style="position: absolute; z-index: 2;"></app-buttons>
          </div>
          
        </ion-slide>

        <ion-slide style="background-color: #F07243;" >
          <div class="slide">
            <app-defensahito3 style="position: absolute; z-index: 1;"></app-defensahito3>
            <app-buttons class="botones"title="pdm" style="position: absolute; z-index: 2;"></app-buttons>
          </div>
         
        </ion-slide>

        <ion-slide style="background-color: #428AF8;">
          <div class="slide">
            <app-firebase style="position: absolute; z-index: 1;"></app-firebase>
            <app-buttons class="botones"title="pdm" style="position: absolute; z-index: 2;"></app-buttons>
          </div>
         

        </ion-slide>

        
      </ion-slides>

         
    </ion-content>
  </ion-app>
</ion-content>
