<ion-content>
  <ion-app>
    <ion-content >
      <ion-slides #slides >

        <ion-slide style="background-color: #4DCA77;" >
          <div class="slide" style="position: absolute; z-index: 1;">
              <img src="{{imagen}}">
              <div class="cont">
                  <h1 >PDM</h1>
                  <p>Creacion Ionic Angular Package</p>
                  <p>and firebase authentication</p>
              </div>
              
          
        
      </ion-slides>

         
    </ion-content>
  </ion-app>
</ion-content>
