img{
    margin-top: -150px;
    width: 600px;
    height: 400px;
}
h1{
    color:white;
    font-weight: bold;
    
}
p{
    color: white;
}
.cont{
    margin-top: 50%;
    float: left;
    margin-left: -60%;
}