.imgAnuncio{
    width: 300px;
    margin-left: 10%;
    margin-top: 5%;
}
ion-header{
    background-color: #8C243C;
}
ion-button{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    --background: #8C243C;
}