<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CLASIFICADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let anuncio of anuncioList">
    <ion-card>
      <img class="imgAnuncio"src="{{anuncio.imagen}}" />
      <ion-card-header>
        <ion-card-subtitle>{{anuncio.categoria}}</ion-card-subtitle>
        <ion-card-title>{{anuncio.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{anuncio.descripcion}}
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>
