<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CLASIFICADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Seleccione Categoria:</ion-label>
    <ion-select placeholder= "Categorias" (ionChange)="onSelect($event)">
      <ion-select-option value="Todos">Todos</ion-select-option>
      <ion-select-option value="Donaciones">Donaciones</ion-select-option>
      <ion-select-option value="Empleos">Empleos</ion-select-option>
  
    </ion-select>

   
  </ion-item>
  <div *ngFor="let anuncio of anuncioList">
    <ion-card>
      <img class="imgAnuncio"src="{{anuncio.imagen}}" />
      <ion-card-header>
        <ion-card-subtitle>{{anuncio.categoria}}</ion-card-subtitle>
        <ion-card-title>{{anuncio.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{anuncio.descripcion}}
      </ion-card-content>
      <ion-button size="small" (click)="onRead(anuncio)">Leer Mas</ion-button>
    </ion-card>
  </div>
  

</ion-content>
