<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" class="header">
          <ion-list-header >
            <img class="logo" alt= "avatar"src="https://image.shutterstock.com/image-vector/icon-protect-land-hand-holding-260nw-531112582.jpg">
             WILL</ion-list-header>
          <ion-note >Tu Determinacion es tu Capacidad</ion-note>

          <ion-menu-toggle auto-hide="false" >

 <!--            <ion-item [routerDirection]="'root'" routerLink="/hito3">
              <ion-label>
                HITO5
              </ion-label>
            </ion-item> -->

            <ion-item [routerDirection]="'root'" routerLink="/home">
              <ion-label>
                Home
              </ion-label>
            </ion-item>

            <ion-item  routerLink="/clasificados">
              <ion-label>
                Noticias
              </ion-label>
            </ion-item>

            <ion-item *ngIf=" Tipo_usuario === 'publico' " routerLink="/add-anuncio">
              <ion-label>
                Añadir Anuncio
              </ion-label>
            </ion-item>

            <ion-item *ngIf="isLogged !==true" routerLink="/log">
              <ion-label>
                Iniciar Sesion
              </ion-label>
            </ion-item>
            <ion-item  *ngIf=" Tipo_usuario === 'publico'" href="/log">
              <ion-label>
                Cerrar Sesion
              </ion-label>
            </ion-item>
            
            
          </ion-menu-toggle>
        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
