ion-item{
    --background: #BE243C;
    --color: #fff;
    border-radius: 10px;
}

ion-button{
    --background: #8C243C;
}
.logo{
    width: 70px;
    height: 70px ;
    margin-left: 35%;
}

ion-header{
    background-color: #8C243C;
}
