ion-item{
    --background: #fff;
    --color: #8C243C;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.username{
    margin-top: 40%;
    margin-left: 20%;
    margin-right: -20%;
}
.pass{
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 10%;
}
.boton{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 15%;
}
ion-button{
    --background: #4DCA77;
}
.logo{
    width: 200px;
    height: 200px ;
    margin-left: -5%;
}

ion-header{
    background-color: #428AF8;
}
ion-content{
    margin-top: 10%;
    
     
}
.fondo{
    width: 400px;
    height: 900px;
    background-color:#428AF8;
}
.up{
    width: 510px;
}
ion-title{
    color: white;
    margin-left: -20%;
}
.flecha{
    margin-top: 5%;
    margin-left: -190px;
    margin-right: 10px;
}
.texto{
    margin-top: 40%;
}
ion-title{
    margin-top: -2%;
}